
@import url(reset.css);

a{ all:unset; cursor: pointer;}

body { width: 100vw; height: 100vh; background-image: url("bg_img.jpg"); background-size: cover;}

.right-nav {display: flex; justify-content: end; font-size: 2rem; line-height: 2;}

.right-nav img{margin: 1rem; width: 2rem; height: fit-content;}

.center_menu {display: flex; justify-content: center; gap: 1rem; }

.center_menu .card_menu{width: 40vw; height: 40vw; background-color: #ffffffa7; border-radius: 1rem; font-size: 4rem; display: grid; justify-items: center; align-content: center;}

.center_menu .card_menu img{width: 8rem; height: fit-content; margin-bottom: 1rem;}