
@import url('reset.css');

body{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw; height: 100vh; 
    background-color: #696969b0;
}


canvas{
    width: 1287px;
    height: 800px;
    box-shadow: 0 0 8px 2px #0000007a;
}

a{ all:unset; cursor: pointer;}

.right-nav {display: flex; justify-content: end; font-size: 2rem; line-height: 2;}

.right-nav img{margin: 1rem; width: 2rem; height: fit-content;}
.middle_box{display: flex; align-items: center;}
.color-option {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.palette {
    display: grid;
    padding: 10px;
}
.toolbox {
display: grid;
padding: 10px;
gap: 8px;
}

.toolbox input{
 background-color: #ffffffcc;
 border-radius: 8px;
 box-shadow: 0 0 4px 0px #0000007a;
 font-size: 1rem;
 line-height: 1.4;
}

.toolbox button{
    background-color: #ffffffcc;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px 0px #0000007a;
    font-size: 1rem;
    line-height: 2;
   }